body {
  width: 100%;
  height: 100vh;
  font-family: 'Lexend Deca';
  background-color: var(--bg-color-soft);
}

main {
  position: relative;
  margin: 32px auto;
  padding: 32px;
  width: 50%;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-sizing: border-box;
}